.top_section{
    padding-top:0.5rem;
}
.top_section_span{
    padding-left: 0.5rem;
}
.yellove{
    color:var(--yellow);
}
.top_hover:hover{
color:var(--yellow);
text-decoration: none;
}
.top_hover{
    text-decoration: none;
    color:black;
}