.card-smallf{
    font-size: 0.9rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(73, 69, 69);
}
.card-bluec{
    color:blue;
}
.card-bluec:hover{
    color:var(--yellow)
}
.card-bgw{
    background-color: transparent !important;
}
.card-brdr{
    padding:1.5rem;
    border-left: 0.1rem solid rgb(204, 203, 203) ;
    opacity: 0.6;
}
.card-hid{
    opacity: 0;
    position:relative;
    top:1rem;
}
.card-brdr:hover{
    border: 1px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-brdr:hover .card-hid{
    opacity: 1;
}
.card-tabanch{
    color:grey;
}
.card-tabanch:hover{
    color:var(--yellow);
    text-decoration: none;
}
.pic{
    height:10rem;
    width:3rem;
}
.disc{
    text-decoration: line-through;
}
.price{
    font-size: larger;
    color:var(--red)
}
.mty{
    height: 4rem;
}
.sale-tag{
    position:absolute;
    top:9rem;
    padding:0.4rem 0.2rem 0.4rem 0.2rem;
    background-color:black;
    color: white;
    border-radius: 1.5rem;
}
/* .pos{
    position:relative;
    bottom:100rem
} */