.f-pad{
    margin-top:2rem;
    padding:1rem;
    border:0.1rem solid rgba(209, 209, 209, 0.904);
    border-radius: 1rem;
}
.f-rbdr{
    border-right:0.1rem solid rgba(209, 209, 209, 0.904); ;
}
.feature-pic{
    background-color:gainsboro;
    height:10rem;
    border-radius: 0.4rem;
    z-index: 1;
}
.fani{
    position:absolute;
    height:10rem;
    width:35rem;
    right:0.1rem;
    border-radius: 0.4rem;
    z-index: 10;
    background-color: black;
    opacity: 0;
}
.feature-pic:hover >.fani {
    animation-name: f-anime;
    animation-duration: 0.5s;
}
@keyframes f-anime {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        transform: scale(1);
opacity: 0.7;
    }
}